body{
    background-color: #680101;
    color:white;
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}
