html{
    margin:0;
    padding:0;
    background-color: #252525;
    color:white;
}

body{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border: 0px solid white;
    width: 30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s;
}

h1:hover{
    color:red;
    transition: all 1s;
}

h2{
    font-family: 'Roboto', sans-serif;
}


table{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

table.picturelist img:hover{
    transform: scale(1.3);
    transition:scale 0.5s;
}

#icon{
    font-size:50px;
    transition:all 0.5s;
}

#icon:hover{
    color:green;
    font-size:100px;
    transition:all 0.5s;
}

ion-icon{
    margin-top:10px;
    margin-bottom:10px;
}  

