

body{
    background-color: #141414;
    color:white;
}


.colorButton{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: none;
    border: 2px solid black;
    margin: 10px;
    transition: transform 0.5s, background-color 0.5s;
}

#buttonWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

h1{
    text-align: center;
}

#colorValue{
    margin: 0 auto;
    text-align: center;
}

#answer{
    margin: 0 auto;
    text-align: center;
}
#reset{
    margin: 0 auto;
    text-align: center;
}

#resetButton{
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    padding: 5px;
    color:white;
    font-size: 20px;
}

.colorButton:active{
    border-color: lawngreen;
}

.colorButton:hover{
    transform: scale(1.25);
    transition: transform 0.5s;
}

