body{
    margin: 0;
    background-color: rgb(85, 91, 97);
    color:white;
}


.contentparagraph{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 20px;
    border: 3px solid white;
    background-color:slategray;
    border-radius: 30px;
}

